PORT=3000
URL=http://localhost
CLIENT_ID=
CLIENT_SECRET=
REDIRECT=http://localhost:3000/callback
AUTH_URL=https://github.com/login/oauth/authorize
TOKEN_URL=https://github.com/login/oauth/access_token
